a{
    font-weight: bold;
}
.container{
    background-color: gray;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 400px;
}
#tela{
    border: 2px solid black;
    margin: 100px 100px 10px;
    text-align: center;
    background-color: white;
    font-size: 30px;
    color: black;
}
h1{
    color: white;
    text-align: center;
}
input{
    font-size: 20px;
    text-align: center;
}