
#container{
    background-color: gray;
    padding:50px 200px 400px;
    color: white;
    font-size: 20px;
    text-align: center;
}
#tela{
    border: 2px solid black;
    margin: 100px 100px 10px;
    text-align: center;
    background-color: white;
    font-size: 30px;
    color: black;
}
h1{
    color: white;
    text-align: center;
}
input{
    font-size: 20px;
    text-align: center;
}